<template>
  <div>
    <EditComponent></EditComponent>
  </div>
</template>

<script>
import EditComponent from '@/components/EditComponent.vue';

export default {
  name: 'EditView',
  components: {
    EditComponent,
  },
};
</script>