<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HomeComponent msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import HomeComponent from '@/components/HomeComponent.vue';

export default {
  name: 'HomeView',
  components: {
    HomeComponent
  }
}
</script>
