<template>
  <div>
    <SearchComponent></SearchComponent>
  </div>
</template>

<script>
import SearchComponent from '@/components/SearchComponent.vue';

export default {
  name: 'SearchView',
  components: {
    SearchComponent,
  },
};
</script>