<template>
  <div>
    <UploadComponent></UploadComponent>
  </div>
</template>

<script>
import UploadComponent from '@/components/UploadComponent.vue';

export default {
  name: 'UploadView',
  components: {
    UploadComponent,
  },
};
</script>
