<template>
  <div>
    <VerifyComponent></VerifyComponent>
  </div>
</template>

<script>
import VerifyComponent from '@/components/VerifyComponent.vue';

export default {
  name: 'VerifyView',
  components: {
    VerifyComponent,
  },
};
</script>