<template>
  <div>
    <ag-grid-vue
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      :columnDefs="columnDefs"
      :rowData="rowData"
      :defaultColDef="defaultColDef"
      :frameworkComponents="frameworkComponents"
      @cellValueChanged="onCellValueChanged"
      :gridOptions="gridOptions"
      :sideBar="false"
    ></ag-grid-vue>
    <button @click="saveData">Save</button>
    <button @click="addNewRecord">New Record</button>
    <button @click="deleteSelectedRows">Delete Selected Rows</button>
    <br />
    <strong> NB: In order to download modified excel sheet, right click within the excel table, select export option and then Excel Export.</strong>
  </div>
</template>

<script>
import 'ag-grid-community/styles/ag-grid.css';
import 'ag-grid-community/styles/ag-theme-alpine.css';
import 'ag-grid-enterprise';
import {AgGridVue}  from 'ag-grid-vue3';
import axios from 'axios';

const gridOptions = {
  rowClassRules: {
    'row-number': true, // Add 'row-number' class to all rows
  },
  defaultExcelExportParams: {
    fileName: 'modified_' + new Date().toISOString() + '.xlsx',
  },
  getRowStyle: function() {
    var style = {};
    style.borderLeft = '1px solid black'; // Add left border to all cells
    return style;
  },
  pagination: true, // Enable pagination
  paginationPageSize: 20, // Set number of rows per page
  suppressPaginationPanel: false, // Show pagination panel
  enableBrowserTooltips: true, // Enable tooltips for column headers
  headerHeight: 40, // Set the height of the column header
  floatingFiltersHeight: 40, // Set the height of the floating filter row
  rowSelection: 'multiple', 
};

export default {
  name: 'EditComponent',
  components: {
    AgGridVue,
  },
  computed: {
    gridOptions() {
      return gridOptions;
    },
  },
  data() {
    return {
      rowData: [],
      columnDefs: [
        {
          headerName: 'Number',
          field: 'rowNumber',
          resizable:false,
          minWidth: 30,
          valueGetter: function (params) {
            // Calculate and return the row number
            return params.node.rowIndex + 1;
          },
          editable: false, // Make the field non-editable
        },
        { headerName: 'ID', field: 'id', hide: true },
        { headerName: 'Sacco ID', field: 'sacco_id', hide: true },
        {
          headerName: 'Sacco Name',
          field: 'sacco_name',
          editable: true,
        },
        { headerName: 'Person In Charge', field: 'person_in_charge', editable: true },
        {
          headerName: 'APN Number',
          field: 'apn_number',
          editable: true,
          valueSetter: function (params) {
            // Remove the leading zero before saving the data
            if (params.newValue) {
              params.data.apn_number = params.newValue.replace(/^0+/, '');
              return true;
            }
            return false;
          },
          cellRenderer: function (params) {
            // Check if the 'apn_number' field has a value
            if (params.value !== null && params.value !== undefined) {
              // Display the 'apn_number' with a leading zero
              return `0${params.value}`;
            } else {
              // If 'apn_number' is not set, return an empty string
              return '';
            }
          },
        },
        { 
          headerName: 'Status', 
          field: 'status', 
          editable: true,           
          cellEditor: 'agSelectCellEditor', // Use the built-in select editor
          cellEditorParams: {
            values: ['Active', 'Inactive'], // Specify the dropdown options
          },
        },
        { headerName: 'Inactive Reason', field: 'inactive_reason', editable: true },
        { 
          headerName: 'Carrier', 
          field: 'carrier', 
          editable: true,
          cellEditor: 'agSelectCellEditor', // Use the built-in select editor
          cellEditorParams: {
            values: ['MTN', 'AIRTEL'], // Specify the dropdown options
          },
        },
        { headerName: 'IP', field: 'ip', editable: true },
        { headerName: 'Date Deployed', field: 'date_deployed', editable: true },
        { headerName: 'Comment', field: 'comment', editable: true },

      ],
      defaultColDef: {
        flex: 1,
        minWidth: 100,
        editable: true,
        sortable: true,
        filter: true,
        resizable: true,
      },
      frameworkComponents: {},
      deletedRowData: [], // Add the deletedRowData array
    };
  },
  mounted() {
    this.loadData();
  },
  methods: {
    async loadData() {
      try {
        const response = await axios.get('/api/py/');
        const transformedData = this.transformData(response.data.data);
        this.rowData = transformedData;
        this.columnDefs = this.columnDefs.filter(
          (column) => column.field !== 'id' && column.field !== 'sacco_id'
        );


      } catch (error) {
        console.error('Error fetching data:', error);
      }
    },
    transformData(originalData) {
      const transformedData = [];
      originalData.forEach((item) => {
        const apn = item;
        item.saccos.forEach((sacco) => {
          const transformedItem = {
            id: apn.id,
            sacco_id: sacco.sacco_id,
            sacco_name: sacco.sacco_name,
            person_in_charge: sacco.person_in_charge,
            apn_number: apn.apn_number,
            status: apn.status,
            inactive_reason: apn.inactive_reason,
            carrier: apn.carrier,
            ip: apn.ip,
            date_deployed: apn.date_deployed,
            comment : apn.comment
          };
          transformedData.push(transformedItem);
        });
      });
      return transformedData;
    },
    onCellValueChanged(params) {
      // Handle cell value change
      const { column, data, newValue } = params;
      const field = column.colDef.field;
      data[field] = newValue;
    },
    saveData() {
      const transformedData = this.rowData.map((row) => {
        return {
          ...row,
        };
      });    

      // Make an API request to save the data
      axios
        .post('/api/php/edit', transformedData)
        .then((response) => {
          if (response.data.success) {
            // Handle success
            alert(response.data.message);
            location.reload();
          } else {
            // Handle error
            alert('An error occurred while saving the data.');
          }
        })
        .catch((error) => {
          // Handle error
          console.error(error);
          alert('An error occurred while saving the data.');
        });
    },
    deleteSelectedRows() {
    const selectedNodes = this.gridOptions.api.getSelectedNodes();
    const selectedData = selectedNodes.map((node) => node.data);

    if (selectedData.length === 0) {
      alert('Please select at least one row to delete.');
      return;
    }

    const deletedRows = selectedData.map((dataItem) => dataItem.id);

    axios
      .post('/api/php/delete', { deletedRows })
      .then((response) => {
        if (response.data.success) {
          // Handle success
          alert(response.data.message);
          location.reload();
        } else {
          // Handle error
          alert('An error occurred while deleting the data.');
        }
      })
      .catch((error) => {
        // Handle error
        console.error(error);
        alert('An error occurred while deleting the data.');
      });
  },
    addNewRecord() {
      // Add a new empty record to the rowData array
      this.rowData.push({
        id: '',
        sacco_id: '',
        sacco_name: '',
        person_in_charge: '',
        apn_number: '',
        status: '',
        inactive_reason: '',
        carrier: '',
        ip: '',
        date_deployed: '',
        comment:'',
      });
    },
  },
};

</script>

<style>
@import './styles/styles.css';
</style>
