<template>
  <div class="home">
    <h1 class="display-4">Welcome to the Excellence Homepage!</h1>
    <div class="button-container">
      <div class="button-item">
        <button class="btn btn-info" @click="$router.push('/upload')">Upload Excel Document</button>
      </div>
      <div class="button-item">
        <button class="btn btn-info" @click="$router.push('/verify')">Verify APNs</button>
      </div>
      <div class="button-item">
        <button class="btn btn-info" @click="$router.push('/edit')">Edit APNs with Excel Interface</button>
      </div>
      <div class="button-item">
        <button class="btn btn-info" @click="$router.push('/search')">Search</button>
      </div>
    </div>
  </div>
</template>

<style>
.home {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.button-container {
  text-align: left;
}

.display-4 {
  text-align: left;
  color: #343a40;
  font-weight: bold;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.button-item {
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-danger {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-danger:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}

</style>
