<template>
  <div>
    <h2>Search</h2>
    <form @submit.prevent="search">
      <input v-model="searchQuery" type="text" placeholder="Search Sacco Name/IP/APN Number" style="width: 300px;" />
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <h3 v-if!="errorMessage">Results</h3>

    <div v-if="errorMessage" class="alert alert-danger">
      <p class="search-results">{{ errorMessage }}</p>
    </div>

    <div v-if="saccoResults.length > 0">
      <h4>Search by Sacco Name:</h4>
      <ag-grid-vue
        style="width: 100%; height: 500px;"
        :gridOptions="saccoGridOptions"
        :columnDefs="saccoGridOptions.columnDefs"
        :rowData="saccoResults" 
        class="ag-theme-alpine"
      ></ag-grid-vue>
    </div>

    <div v-if="apnNumberResults.length > 0">
      <h4>Search by APN Number:</h4>
      <ag-grid-vue
        style="width: 100%; height: 500px;"
        :gridOptions="apnNumberGridOptions"
        :rowData="apnNumberResults"
        class="ag-theme-alpine"
      ></ag-grid-vue>
    </div>

    <div v-if="ipResults.length > 0">
      <h4>Search by IP:</h4>
      <ag-grid-vue
        style="width: 100%; height: 500px;"
        :gridOptions="ipGridOptions"
        :rowData="ipResults"
        class="ag-theme-alpine"
      ></ag-grid-vue>
    </div>

  </div>
</template>

<script>
/*eslint-disable*/
import axios from 'axios';
import { AgGridVue } from 'ag-grid-vue3'; 
import 'ag-grid-community/styles/ag-grid.css'; 
import 'ag-grid-community/styles/ag-theme-alpine.css'; 

export default {
  components: {
    'ag-grid-vue': AgGridVue, 
  },
  data() {
    return {
      searchQuery: '',
      saccoResults: [],
      apnNumberResults: [],
      ipResults: [],
      errorMessage: '',
      saccoGridOptions: {
        columnDefs: [],
        rowData:[]
      },
      apnNumberGridOptions: {
        columnDefs: [],
        rowData:[]
      }, 
      ipGridOptions: {
        columnDefs: [],
        rowData:[]
      }, 
    };
  },
  methods: {
    search() {
      if (this.searchQuery === '') {
        this.errorMessage = 'Please enter a search query.';
        this.clearResults();
        return;
      }

      this.errorMessage = '';

      axios
        .post('/api/php/search', {
          search: this.searchQuery,
        })
        .then((response) => {
          const { success, saccoResults, apnNumberResults, ipResults, message } = response.data;
          console.log(response.data);

          if (saccoResults.length > 0) {
            this.saccoGridOptions.columnDefs = [
              { headerName: 'Sacco Name', field: 'sacco_name' },
              { headerName: 'Number of APNs', field: 'apns_count' },
              {
                headerName: 'APN Numbers',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => `0${apn.apn_number}`).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },
              {
                headerName: 'IPs',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.ip).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },
              {
                headerName: 'Status',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.status).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },             
              {
                headerName: 'Inactive Reason',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.inactive_reason).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },
            ];
            this.saccoResults = saccoResults.map((sacco) => ({
              id: sacco.id,
              sacco_name: sacco.sacco_name,
              apns_count: sacco.apns_count,
              apns: sacco.apns,
            }));
          } else {
            this.saccoResults = [];
          }

          if (apnNumberResults.length > 0) {
            this.apnNumberGridOptions.columnDefs = [
              {
                headerName: 'APN Numbers',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.apn_number).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },
              {
                headerName: 'IPs',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.ip).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },
              {
                headerName: 'Carrier',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.carrier).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },
              {
                headerName: 'Status',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.status).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },
              {
                headerName: 'Inactive Reason',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.inactive_reason).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },
              { headerName: 'Sacco Name', field: 'sacco_name' },
            ];

            this.apnNumberResults = apnNumberResults.map((apn) => ({
              sacco_name: apn.sacco_name,
              apns: apn.apns,
            }));
          } else {
            this.apnNumberResults = [];
          }


          if (ipResults.length > 0) {
            this.ipGridOptions.columnDefs = [
              { headerName: 'Sacco Name', field: 'sacco_name' ,resizable:true,editable:true},
              {
                headerName: 'Status',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.status).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },  
              {
                headerName: 'Inactive Reason',
                field: 'apns',
                wrapText: true,
                autoHeight:true,
                cellRenderer: function(params) {
                  if (Array.isArray(params.value)) {
                    return params.value.map(apn => apn.inactive_reason).join('<br/>');
                  } else {
                    return '';
                  }
                }
              },
            ];
            this.ipResults = ipResults.map((apn) => ({
              sacco_name: apn.sacco_name,
              apns: apn.apns,
            }));
          } else {
            this.ipResults = [];
          }
        })
        .catch((error) => {
          this.errorMessage = 'No results found.';
          this.clearResults();
          console.error(error);
        });
    },

    clearResults() {
      this.saccoResults = [];
      this.apnNumberResults = [];
      this.ipResults = [];
    },
  },
};
</script>

