<template>
  <div class="upload">
    <h1 class="title">Upload Excel File</h1>
    <div class="alert alert-danger" v-if="uploadError.length > 0">
      <strong>Encountered the following errors: </strong>
      <ul class="error-list">
        <li v-for="(errors, index) in uploadError" :key="index">
          <div v-if="hasErrors(errors)" class="error-heading">
            Row {{ index + 2}}:
          </div>
          <ul>
            <li v-for="(error,key) in errors" :key="key">
              {{ error }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div v-else-if="fileSelected && uploadError.length === 0" class="alert alert-danger">
      Please select a file.
    </div>
    <div class="alert alert-success" v-if="uploadSuccess">{{ uploadSuccess }}</div>
    <form @submit.prevent="handleUpload">
      <div class="form-group">
        <label for="file">Choose Excel File:</label>
        <input type="file" name="file" id="file" ref="fileInput" class="form-control">
      </div>
      <div class="template-img">
        Here is a template of an Excel file that should be submitted:
        <br />
        <img src="../assets/template1.png" > OR: <img src="../assets/template2.png" >
        
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'UploadComponent',
  data() {
    return {
      uploadError: [],
      uploadSuccess: '',
      fileSelected: false,
    };
  },
  methods: {
    hasErrors(errors) {
      return Object.keys(errors).length > 0;
    },
    handleUpload() {
      const file = this.$refs.fileInput.files[0];

      if (!file) {
        this.uploadError = [];
        this.uploadSuccess = '';
        this.fileSelected = true; 
        return;
      }

      const formData = new FormData();
      formData.append('file', file);

      // Make an AJAX request to your API endpoint
      fetch('/api/php/upload', {
        method: 'POST',
        body: formData,
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            this.uploadSuccess = data.message;
            this.uploadError = [];
          } else if (data.errors && Object.keys(data.errors).length > 0) {
            this.uploadError = this.transformErrors(data.errors);
            this.uploadSuccess = '';
          } else {
            this.uploadError = ['An error occurred during the file upload.'];
            this.uploadSuccess = '';
          }
        })
        .catch(error => {
          this.uploadError = ['An error occurred during the file upload.'];
          this.uploadSuccess = '';
          alert(error);
        });

      this.$refs.fileInput.value = '';
    },
    transformErrors(errors) {
      return Object.entries(errors).map(([rowNumber, errorMessages]) => ({
        row: parseInt(rowNumber) + 2,
        error: Object.values(errorMessages).join(", "),
      }));
    },
  },
};
</script>

<style scoped>
.upload {
  margin: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="file"] {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul.error-list {
  list-style-type: circle; /* Remove bullets */
  padding-left: 0; /* Remove left padding */
}

ul.error-list li {
  display: inline;
  margin-bottom: 5px; /* Adjust the value to increase or decrease spacing */
  text-align: left
}
.error-heading {
  text-align: left;
  display: inline-block;
  width: 80px; /* Adjust the width as needed */
  font-weight: bold;
}

</style>
