<template>
  <div>
    <input type="file" ref="fileInput" @change="handleFileChange" />
    <button @click="verify">Verify</button>
    <div v-if="errorMessage" class="error">
      <strong>{{ errorMessage }}</strong>
    </div>
    <ul v-if="errorList.length" class="error-msg">
      <li v-for="(error, index) in errorList" :key="index">{{ error }}</li>
    </ul>
  </div>
  <!-- Progress bar -->
  <div v-if="showProgressBar">
      <div class="progress">
        <div class="progress-bar" :style="{ width: progressBarPercentage + '%' }">
          {{ progressBarPercentage }}%
        </div>
      </div>
  </div>
  <div class="template-img">    
        <strong>Here is a template of an Excel file that should be submitted:</strong>
        <br />
        <img src="../assets/template1.png" > OR: <img src="../assets/template2.png" >
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      file: null,
      errorMessage: '',
      errorList: [],
      showProgressBar: false,
      progressBarPercentage: 0,

    };
  },
  methods: {
    handleFileChange(event) {
      // Reset error messages when file input changes
      this.errorMessage = '';
      this.errorList = [];
      this.file = event.target.files[0];
    },
    verify() {
      this.errorMessage = '';
      this.errorList = [];
      this.showProgressBar = true; 
      // Check if file is selected
      if (!this.file) {
        this.errorMessage = 'Please select a file.';
        return;
      }

      // Check file type
      const allowedTypes = ['application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet','text/csv'];
      if (!allowedTypes.includes(this.file.type)) {
        this.errorMessage = 'Invalid file type. Please select an Excel file (XLSX or XLS).';
        return;
      }

      const formData = new FormData();
      formData.append('file', this.file);

      axios
        .post('api/py/verify', formData,{
          // Use the `onUploadProgress` callback to track progress
          onUploadProgress: progressEvent => {
            const progressPercentage = Math.round(
              (progressEvent.loaded * 100) / progressEvent.total
            );
            this.progressBarPercentage = progressPercentage;
          },
        })
        .then(response => {
          const data = response.data;
          this.showProgressBar = false;
          if (data.success) {
            // All APNs exist in the database
            alert(data.message);
          } else if (data.message) {
            // Display error message
            this.errorMessage = 'APNs do not exist in the database:';
            this.errorList = [];
          } else if (data.errors && data.errors.length > 0) {
            // Display error list
            this.errorMessage = 'APNs do not exist in the database:';
            this.errorList = data.errors.map(error => `${error}`);
          } else {
            console.error('Unknown error occurred:', data);
          }
        })
        .catch(error => {
          this.showProgressBar = false;
          if (error.response) {
            // The request was made and the server responded with an error status code
            this.errorMessage = `Request failed with status code ${error.response.status}`;
          } else if (error.request) {
            // The request was made but no response received
            console.error('No response received:', error.request);
          } else {
            // Something happened while setting up the request
            console.error('Error:', error.message);
          }
        });
    },
  },
};
</script>

<style>
@import './styles/styles.css';

</style>
