@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Body styles */
body {
  /* background-image: url('../../assets/pexels-jakub-novacek-924824.jpg');  */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

/* Button styles */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #23527c;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: left;
}

table td {
  background-color: #fff;
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Alert styles */
.alert {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
}

.alert-error {
  background-color: #f2dede;
  color: #a94442;
}

/* for the edit table */

/* Add styles to the Handsontable table */
#data-table {
  font-family: 'Ubuntu', Arial, sans-serif; /* Replace 'Your Custom Font' with the desired font name */
  background-color: #f5f5f5;
}

/* Customize table headers */
.handsontable th {
  background-color: #ebebeb;
  font-weight: bold;
  text-align: center;
}

/* Customize table cells */
.handsontable td {
  text-align: left;
}

/* Add hover effect on table rows */
.handsontable tr:hover {
  background-color: #f0f0f0;
}

/* Apply custom styles to buttons */
button {
  margin: 10px;
  padding: 8px 16px;
  font-family: 'Your Custom Font', Arial, sans-serif; /* Replace 'Your Custom Font' with the desired font name */
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #4caf50;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* ag-grid */
.column-separator {
  border-right: 1px solid black;
}
.ag-cell {
  border-right: 1px solid black;
}

/* Custom CSS for search bar */
.ag-floating-filter-input {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
}
.ag-theme-alpine {
    /* disable all borders */
    --ag-borders:solid 1px;
    --ag-border-color: black;
    /* then add back a border between rows */
    --ag-column-border-style: dashed;
    --ag-column-border-width: 5px;
    --ag-column-border-color: rgb(150, 150, 200);
    --ag-control-panel-background-color: rgb(228, 197, 203);
    --ag-side-button-selected-background-color: rgb(228, 197, 203);

    --ag-selected-tab-underline-color: deeppink;
    --ag-selected-tab-underline-width: 2px;
    --ag-selected-tab-underline-transition-speed: 0.5s;

    --ag-side-bar-panel-width: 300px;
    --ag-borders-input: dotted 2px;
    --ag-input-border-color: orange;
}
.ag-theme-alpine .ag-text-field-input {
    background-color: rgb(255, 209, 123); /* light orange */
}
.ag-theme-alpine .ag-text-field-input::placeholder {
    color: rgb(155, 101, 1); /* darker orange */
}

.ag-theme-alpine {
    --ag-card-radius: 10px;
    --ag-card-shadow: 0 10px 40px rgb(83, 0, 106);
    --ag-popup-shadow: var(--ag-card-shadow);
    --ag-tab-min-width: 350px;
}

.ag-theme-alpine .ag-menu {
    background-color: rgb(244, 220, 250); /* light purple */
}

.ag-theme-alpine .ag-menu-header {
    background-color: rgb(100, 32, 119); /* dark purple */
}

.ag-theme-alpine .ag-menu-header .ag-icon {
    color: white;
}

.error-msg{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  text-align: left;
}
.error{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  text-align: center;
}