<template>
  <nav>
    <router-link to="/">
      <!-- <span @click="goToHome"></span> -->
      <img src="@/assets/home-icon-silhouette-svgrepo-com.svg" alt="Home" class="home-icon">
    </router-link>
  </nav>
  <router-view/>
  <!-- Footer -->
  <footer class="mt-4 text-center">
    <p>&copy; {{ new Date().getFullYear() }} FutureLink Technologies. All rights reserved.</p>
  </footer>
</template>

<!-- <script>
export default {
  methods: {
    goToHome() {
      // Navigate to the home route
      this.$router.push('/');
    }
  }
}
</script> -->

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.home-icon {
  width: 30px;
  height: 30px;
  z-index:2;
  background-color: transparent;
  position: absolute;
  display: flex;
  text-decoration: none; /* To remove the default link underline */
}
</style>
